version: "1"
projects:
  - name: hrms_lite
    environments:
      - name: Production
        services:
          - type: web
            name: hrms-lite-api
            runtime: docker
            repo: https://github.com/alokumarjaiswal/hrms_lite
            plan: free
            envVars:
              - key: SECRET_KEY
                generateValue: true
              - key: DEBUG
                value: "False"
              - key: ALLOWED_HOSTS
                value: hrms-lite-api.onrender.com
              - key: DATABASE_URL
                fromDatabase:
                  name: hrms-lite-db
                  property: connectionString
              - key: CORS_ALLOWED_ORIGINS
                value: https://placeholder.vercel.app
              - key: CSRF_TRUSTED_ORIGINS
                value: https://hrms-lite-api.onrender.com
            region: singapore
            healthCheckPath: /health/
            dockerContext: .
            dockerfilePath: ./Dockerfile
            autoDeployTrigger: commit
        databases:
          - name: hrms-lite-db
            databaseName: hrms_db_xyx0
            user: hrms_user
            plan: free
            region: singapore
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
            postgresMajorVersion: "18"
